juntong.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2010 (http://www.altova.com)-->

<!ENTITY % 문맥요소 "인명 | 지명 | 서명 | 기관 | 관직 | 관서 | 고사 | 물명 | 연호 | 색인">

<!ELEMENT 동양고전 (ViewdocList)*>
<!ATTLIST 동양고전
	식별자 CDATA #IMPLIED
	id CDATA #IMPLIED
	name CDATA #IMPLIED
	file CDATA #IMPLIED
	createyear CDATA #IMPLIED
>


<!ELEMENT ViewdocList (BaseID, 고전정보, 구성정보, (권차 |편 |Viewdoc)*, 주석묶음*)>
<!ATTLIST ViewdocList
	DEL CDATA #IMPLIED
>

<!ELEMENT 고전정보 (#PCDATA | 부호 | w)*>
<!ATTLIST 고전정보
	name CDATA #IMPLIED
	id CDATA #IMPLIED
	식별자 CDATA #IMPLIED
	한글 CDATA #IMPLIED
	권차 CDATA #IMPLIED
>

<!ELEMENT 구성정보 EMPTY>
<!ATTLIST 구성정보
	type (REF | EXP | CON | BIB | PRE |CAT |APP |ETC) #REQUIRED
	식별자 CDATA #REQUIRED
>

<!ELEMENT 권차 (제목, 편)>
<!ATTLIST 권차
	식별자 CDATA #REQUIRED
>

<!ELEMENT 편 (제목*, Viewdoc+)>
<!ATTLIST 편
>
<!--장이 여러개 가 올 수 있게 설계되었나-->
<!ELEMENT Viewdoc (제목*, 장*)>
<!ELEMENT 장 (제목*, 내용*, 주석묶음?)>
<!-- 장 안에는 제목이 있으며 주석묶음은 장을 단위로 맨 뒤에 주석을 묶는다. -->
<!ATTLIST 장
	식별자 CDATA #REQUIRED
	누락확인 CDATA #IMPLIED
>

<!ELEMENT 내용 (원문 | 서 | 안 | 번역문 | 경 | 경문 |  경원문 | 경문원문 |  경번역문 | 경문번역 | 제하주원문 | 안설원문 | 안설번역 | 안설결어원문 |  안설결어번역 |  총결원문 | 총결번역 | 집주 |  집론 | 집론원문 | 집론번역 | 집론번역문 | 집설 | 훈의원문 | 훈의번역문 | 대전 | 주 | 주번역문 | 소 | 전 | 원주 | 원주번역문 | 주해 | 집평 | 통석 | 본의 | 해제 | 신습한자 | 참고자료 | 문장의구조 | 감상 | 한자의구실 | 쉼터 | 출전 | 평설 | 평설번역문 | 목원문 | 목번역문 | 강원문 | 제하주번역 | 제하주원문 |강번역문| 부속)*>
<!ATTLIST 내용
id CDATA #IMPLIED
idd CDATA #IMPLIED
o_id CDATA #IMPLIED
n_id CDATA #IMPLIED
use CDATA #IMPLIED
>

<!ELEMENT 서 (단락+)>
<!ATTLIST 서
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
	type CDATA #IMPLIED
>

<!ELEMENT 원문 (#PCDATA | PARA | 제목 | 단락 | br | 그림 )*>
<!ATTLIST 원문
	SEQ CDATA #IMPLIED
	type CDATA #IMPLIED
	lang (chi|kor|oldkor|eng) #IMPLIED
	식별자 CDATA #IMPLIED
	id CDATA #IMPLIED
	idd CDATA #IMPLIED
	align CDATA #IMPLIED
>

<!ELEMENT 번역문 (제목 | 소제목 | 단락 |br | 그림 | PARA)*>
<!ATTLIST 번역문
	SEQ CDATA #IMPLIED
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
>

<!ELEMENT 경문 (단락| br )*>
<!ATTLIST 경문
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
	type CDATA #IMPLIED
>

<!ELEMENT 경문원문 (#PCDATA | 제목|단락 |br | 그림 | PARA )*>
<!ATTLIST 경문원문
	SEQ CDATA #IMPLIED
	id CDATA #IMPLIED
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
>

<!ELEMENT 경 (#PCDATA | 제목|단락 |br | 그림 | PARA )*>
<!ATTLIST 경
	SEQ CDATA #IMPLIED
	id CDATA #IMPLIED
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
>

<!ELEMENT 경문번역 (#PCDATA | 제목|단락 | br | 그림 | PARA)*>
<!ATTLIST 경문번역
	SEQ CDATA #IMPLIED
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
>

<!ELEMENT 경번역문 (#PCDATA | 제목|단락 | br | 그림 | PARA)*>
<!ATTLIST 경번역문
	SEQ CDATA #IMPLIED
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
>

<!ELEMENT 목원문 (#PCDATA | 제목|단락 | br | 그림 | PARA)*>
<!ATTLIST 목원문
	SEQ CDATA #IMPLIED
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
>
<!ELEMENT 목번역문 (#PCDATA | 제목|단락 | br | 그림 | PARA)*>
<!ATTLIST 목번역문
	SEQ CDATA #IMPLIED
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
>

<!ELEMENT 강원문 (#PCDATA | 제목 | 단락 | br | 그림 | PARA)*>
<!ATTLIST 강원문
	SEQ CDATA #IMPLIED
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
>
<!ELEMENT 강번역문 (#PCDATA | 제목 | 단락 | br | 그림 | PARA)*>
<!ATTLIST 강번역문
	SEQ CDATA #IMPLIED
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
>
<!ELEMENT 안설원문 (#PCDATA | 제목 | 단락 | br | 그림 | PARA)*>
<!ATTLIST 안설원문
	SEQ CDATA #IMPLIED
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
>

<!ELEMENT 안설번역 (#PCDATA | 제목 | 단락 | br | 그림 | PARA)*>
<!ATTLIST 안설번역
	SEQ CDATA #IMPLIED
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
>

<!ELEMENT 안설결어원문 (#PCDATA | 제목 | 단락 | br | 그림 | PARA)*>
<!ATTLIST 안설결어원문
	SEQ CDATA #IMPLIED
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
>
<!ELEMENT 안설결어번역 (#PCDATA | 제목 | 단락 | br | 그림 | PARA)*>
<!ATTLIST 안설결어번역
	SEQ CDATA #IMPLIED
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
>

<!ELEMENT 평설 (#PCDATA | 제목 | 단락 | br | 그림 | PARA)*>
<!ATTLIST 평설
	SEQ CDATA #IMPLIED
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
>

<!ELEMENT 평설번역문 (#PCDATA | 제목 | 단락 | br | 그림 | PARA)*>
<!ATTLIST 평설번역문
	SEQ CDATA #IMPLIED
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
>

<!ELEMENT 총결원문 (#PCDATA | 제목|단락 | br | 그림 | PARA)*>
<!ATTLIST 총결원문
	SEQ CDATA #IMPLIED
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
>

<!ELEMENT 부속 (#PCDATA | 제목|단락 | br | 그림 | PARA)*>
<!ATTLIST 부속
	id CDATA #IMPLIED
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
>


<!ELEMENT 총결번역 (#PCDATA | 제목 | 단락 | br | 그림 | PARA)*>
<!ATTLIST 총결번역
	SEQ CDATA #IMPLIED
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
>

<!ELEMENT 제하주원문 (#PCDATA | 제목 | 단락 | br | 그림 | PARA)*>
<!ATTLIST 제하주원문
	SEQ CDATA #IMPLIED
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
>


<!ELEMENT 제하주번역 (#PCDATA | 제목 | 단락 | br | 그림 | PARA)*>
<!ATTLIST 제하주번역
	SEQ CDATA #IMPLIED
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
>
<!ELEMENT 전 (단락+)>
<!ATTLIST 전
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #IMPLIED
	식별자 CDATA #IMPLIED
	id CDATA #IMPLIED
	type CDATA #IMPLIED
>

<!ELEMENT 안 (단락+)>
<!ATTLIST 안
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #IMPLIED
	식별자 CDATA #IMPLIED
	id CDATA #IMPLIED
	type CDATA #IMPLIED
>
<!ELEMENT 집주 (단락+)>
<!ATTLIST 집주
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
>

<!ELEMENT 집론 (단락+)>
<!ATTLIST 집론
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
>

<!ELEMENT 집론원문 (단락+)>
<!ATTLIST 집론원문
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
>
<!ELEMENT 집론번역 (단락+)>
<!ATTLIST 집론번역
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
>

<!ELEMENT 집론번역문 (단락+)>
<!ATTLIST 집론번역문
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
>


<!ELEMENT 집평 (단락+)>
<!ATTLIST 집평
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
	use CDATA #IMPLIED
>

<!ELEMENT 본의 (단락+)>
<!ATTLIST 본의
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
>
<!ELEMENT 통석 (단락+)>
<!ATTLIST 통석
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
>
<!ELEMENT 해제 (단락+)>
<!ATTLIST 해제
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
>
<!ELEMENT 참고자료 (단락+)>
<!ATTLIST 참고자료
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
>
<!ELEMENT 주해 (단락 | br)*>
<!ATTLIST 주해
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
>

<!ELEMENT 집설 (단락|그림)*>
<!ATTLIST 집설
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
>

<!ELEMENT 대전 (단락| 그림)*>
<!ATTLIST 대전
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
>
<!ELEMENT 주 (단락+)>
<!ATTLIST 주
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
	type CDATA #IMPLIED
>

<!ELEMENT 주번역문 (단락+)>
<!ATTLIST 주번역문
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
	type CDATA #IMPLIED
>

<!ELEMENT 훈의원문 (단락+)>
<!ATTLIST 훈의원문
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
>

<!ELEMENT 훈의번역문 (단락+)>
<!ATTLIST 훈의번역문
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
>

<!ELEMENT 소 (단락+)>
<!ATTLIST 소
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
	type CDATA #IMPLIED
>

<!ELEMENT 원주 (단락+)>
<!ATTLIST 원주
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	id CDATA #IMPLIED
	no CDATA #IMPLIED
	n_id CDATA #IMPLIED
	p_id CDATA #IMPLIED
	식별자 CDATA #REQUIRED
>

<!ELEMENT 원주번역문 (단락+)>
<!ATTLIST 원주번역문
	SEQ CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	id CDATA #IMPLIED
	no CDATA #IMPLIED
	n_id CDATA #IMPLIED
	p_id CDATA #IMPLIED
	식별자 CDATA #REQUIRED
>



<!ELEMENT 문장의구조 (제목 | 단락 | 그림 |br)*>
<!ATTLIST 문장의구조
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	SEQ CDATA #IMPLIED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
	n_id CDATA #IMPLIED
	p_id CDATA #IMPLIED
>

<!ELEMENT 신습한자 (제목 | 단락 |br)*>
<!ATTLIST 신습한자
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	SEQ CDATA #IMPLIED
	id CDATA #IMPLIED
	n_id CDATA #IMPLIED
	p_id CDATA #IMPLIED
	식별자 CDATA #REQUIRED
>
<!ELEMENT 감상 (제목 | 단락 |br)*>
<!ATTLIST 감상
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	SEQ CDATA #IMPLIED
	식별자 CDATA #REQUIRED
	id CDATA #IMPLIED
>
<!ELEMENT 한자의구실 (제목 | 단락 |br)*>
<!ATTLIST 한자의구실
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #IMPLIED
	SEQ CDATA #IMPLIED
	id CDATA #IMPLIED
	n_id CDATA #IMPLIED
	p_id CDATA #IMPLIED
>
<!ELEMENT 쉼터 (제목 | 단락 |br)*>
<!ATTLIST 쉼터
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #IMPLIED
	SEQ CDATA #IMPLIED
>
<!ELEMENT 출전 (제목 | 단락 |br)*>
<!ATTLIST 출전
	type CDATA #IMPLIED
	lang (chi|kor|oldkor |eng) #REQUIRED
	식별자 CDATA #IMPLIED
	SEQ CDATA #IMPLIED
>

<!ELEMENT 현토 (#PCDATA)>
<!ELEMENT 표제목 (#PCDATA | hj)*>
<!ELEMENT 표 (표제목, table)>
<!ELEMENT 지은이 (#PCDATA | 각주 | w | %문맥요소;)*>

<!ELEMENT 주석묶음 (각주)*>

<!ELEMENT 주석명 (#PCDATA | 부호 | 신출자 | b | h | 파자 | 각주 | 현토 | 그림 | 음가 | w | %문맥요소;)*>
<!ELEMENT 주석내용 (#PCDATA | 부호 | br | w | h | 신출자 | 파자 | 그림 | PICTURE| 각주 | 서명 | math)*>
<!ELEMENT 제하주 (#PCDATA | hj | 현토 | br | w | h | 공백 | 각주 | %문맥요소;)*>
<!ELEMENT 제목 (#PCDATA | 부호 | 신출자 | 각주 | 현토 | 음가 | %문맥요소;)*>
<!ATTLIST 제목
	level CDATA #REQUIRED
	pid CDATA #IMPLIED
	h CDATA #IMPLIED
	hh CDATA #IMPLIED
	align CDATA #IMPLIED
	type CDATA #IMPLIED
	식별자 CDATA #IMPLIED
	no  CDATA #IMPLIED
	ZNO CDATA #IMPLIED
>

<!ELEMENT 신출자 (#PCDATA)>
<!ATTLIST 신출자
	id CDATA #IMPLIED
>
<!ELEMENT nchar (#PCDATA)>
<!ATTLIST nchar
	id CDATA #IMPLIED
>

<!ELEMENT 대의 (#PCDATA | 현토 | w | br)*>
<!ELEMENT 부호 (#PCDATA)>

<!ELEMENT 단락 (#PCDATA | PARA | br | w | h | b | u | 지은이 | 공백 | 그림 | 제하주 | 확인 |  현토 | 각주 | 원주명 | 원주내용)*>
<!ATTLIST 단락
	align (right | left | center) #IMPLIED
	indent (0 | 1 | 2 |3 ) #IMPLIED
	lang (chi |kor ) #IMPLIED
	id CDATA #IMPLIED
	sent_id CDATA #IMPLIED
	no CDATA #IMPLIED
	use CDATA #IMPLIED


>

<!ELEMENT PARA (#PCDATA | table | TABLE | 제하주 | 파자 | 표 | %문맥요소; | 소제목 | 표제어 | 풀이 | 부주 | 개념용어 | 개념용어출처 | 신출자 | nchar | 훈음 | 대의 | 지은이 | 부호 | hj | 공백 | 출처 | 현토 | 확인 | 각주 | 그림 | 음가 | 원주 | 주석명 | 원주명 | 원주내용 | br | u |b | img | TAB |p | w | h | math)*>
<!ATTLIST PARA
	id CDATA #IMPLIED
	use CDATA #IMPLIED
	class CDATA #IMPLIED
	year CDATA #IMPLIED
	sent_id CDATA #IMPLIED
>
<!--
<!ATTLIST 단락
	align (right | left | center) #IMPLIED
	indent (0 | 1 | 2 |3 ) #IMPLIED
	단락  xml:space (default|preserve) 'preserve'
>
-->
<!ELEMENT p (#PCDATA | table | 제하주 | 파자 | 표 | %문맥요소; | 소제목 | 표제어 | 풀이 | 부주 | 개념용어 | 개념용어출처 | 신출자 | nchar | 훈음 | 대의 | 지은이 | 부호 | hj | 공백 | 출처 | 현토 | 각주 | 그림 | 원주 | 원주명 | 원주내용 | br | u |b | img | TAB)*>
<!ATTLIST p
	align (right | left | center) #IMPLIED
	indent (0 | 1 | 2 |3 ) #IMPLIED
>
<!ELEMENT 원주명 (#PCDATA | 현토 | 공백 | 각주 | w | h | 그림 | 음가 | 신출자 | %문맥요소;)*>
<!ATTLIST 원주명
	식별자 CDATA #IMPLIED
>


<!ELEMENT 원주내용 (#PCDATA | 현토 | br | w | h | 공백 | 음가 | 원주내용| 각주 | 그림 | 부주 | 원주명 | nchar| %문맥요소; | 신출자)*>
<!ATTLIST 원주내용
	식별자 CDATA #IMPLIED
	표제어 CDATA #IMPLIED
	type CDATA #IMPLIED
	음 CDATA #IMPLIED
	no CDATA #IMPLIED
>

<!ELEMENT 개념용어 (#PCDATA|현토)*>
<!ATTLIST 개념용어
	식별자 CDATA #IMPLIED
	표제어 CDATA #IMPLIED
	음 CDATA #REQUIRED
	no CDATA #IMPLIED
>

<!ELEMENT 개념용어출처 (#PCDATA | 현토)*>
<!ATTLIST 개념용어출처
	식별자 CDATA #IMPLIED
	표제어 CDATA #IMPLIED
	주석가 CDATA #IMPLIED
	no CDATA #IMPLIED
>

<!ELEMENT 그림 (키워드?, 그림설명?)>
<!ATTLIST 그림
	name CDATA #IMPLIED
	sizex CDATA #IMPLIED
	sizey CDATA #IMPLIED
	type (jpg|gif) #IMPLIED
	unit CDATA #FIXED "pixel"
	no CDATA #IMPLIED
>
<!ELEMENT 키워드 (#PCDATA | 신출자)*>
<!ELEMENT 표제어 (#PCDATA | w)*>
<!ELEMENT 풀이 (#PCDATA |w | h)*>

<!ELEMENT 음가 (#PCDATA | w | 관직 | 인명 | 지명 | 각주 | 서명 |신출자 )*>
<!ATTLIST 음가
	name CDATA #IMPLIED
>

<!ELEMENT 출처 (#PCDATA)>
<!ELEMENT 인명 (#PCDATA | 각주 | 음가 | w)*>
<!ATTLIST 인명
	식별자 CDATA #IMPLIED
	어휘식별 CDATA #IMPLIED
	대표식별 CDATA #IMPLIED
	속성분류 CDATA #IMPLIED
	유형 CDATA #IMPLIED
	관계 CDATA #IMPLIED
	real CDATA #IMPLIED
	chi CDATA #IMPLIED
	kor CDATA #IMPLIED
	key CDATA #IMPLIED
	비고 CDATA #IMPLIED
	no CDATA #IMPLIED
	um CDATA #IMPLIED
		
>
<!ELEMENT 지명 (#PCDATA | 음가 | 각주 | w)*>
<!ATTLIST 지명
	real CDATA #IMPLIED
	chi CDATA #IMPLIED
	kor CDATA #IMPLIED
	type CDATA #IMPLIED
	비고 CDATA #IMPLIED
	no CDATA #IMPLIED
	key CDATA #IMPLIED
	대표식별 CDATA #IMPLIED
	속성분류 CDATA #IMPLIED
	어휘식별 CDATA #IMPLIED
>

<!ELEMENT 서명 (#PCDATA | w | 각주 | 음가 | 원주명 | 원주내용)*>
<!ATTLIST 서명
	real CDATA #IMPLIED
	chi CDATA #IMPLIED
	kor CDATA #IMPLIED
	비고 CDATA #IMPLIED
	no CDATA #IMPLIED
	key CDATA #IMPLIED
	어휘식별 CDATA #IMPLIED
	대표식별 CDATA #IMPLIED
	속성분류 CDATA #IMPLIED
>
<!ELEMENT 관직 (#PCDATA | w | 음가 | 각주)*>
<!ATTLIST 관직
	real CDATA #IMPLIED
	chi CDATA #IMPLIED
	kor CDATA #IMPLIED
	비고 CDATA #IMPLIED
	no CDATA #IMPLIED
	type CDATA #IMPLIED
	key CDATA #IMPLIED
	어휘식별 CDATA #IMPLIED
	대표식별 CDATA #IMPLIED
	속성분류 CDATA #IMPLIED
>
<!ELEMENT 관서 (#PCDATA)>
<!ELEMENT 기관 (#PCDATA)>
<!ELEMENT 고사 (#PCDATA)>
<!ELEMENT 물명 (#PCDATA)>
<!ELEMENT 개념 (#PCDATA)>
<!ELEMENT 연호 (#PCDATA |w | 원주 | 원주명 | 원주내용 | 각주 | 음가)*>
<!ATTLIST 연호
	real CDATA #IMPLIED
	chi CDATA #IMPLIED
	kor CDATA #IMPLIED
	비고 CDATA #IMPLIED
	no CDATA #IMPLIED
	key CDATA #IMPLIED
	대표식별 CDATA #IMPLIED
	속성분류 CDATA #IMPLIED
	어휘식별 CDATA #IMPLIED
>
<!ELEMENT 색인 (#PCDATA | w)*>
<!ATTLIST 색인
	유형 CDATA #IMPLIED
>
<!ELEMENT 소제목 (#PCDATA | 각주 | 현토 | w |  %문맥요소;)*>
<!ATTLIST 소제목
	level CDATA #IMPLIED
>
<!ELEMENT 그림설명 (#PCDATA | w | %문맥요소;)*>
<!ELEMENT 부주 (#PCDATA)>

<!ELEMENT TAB EMPTY>
<!ELEMENT 공백 (#PCDATA)>
<!ELEMENT 훈음 (#PCDATA)>
<!ELEMENT 파자 (#PCDATA)>


<!ELEMENT 각주 (#PCDATA | hj | b | w | h | TAB | 각주 | 파자 | 부호 | 현토 | 주석명 | 개념용어 | 음가 | 주석내용 | %문맥요소; | PICTURE | 원주명 | 원주내용 | 신출자 | 지은이 | 공백 |확인 | br)*>
<!ATTLIST 각주
	식별자 CDATA #REQUIRED
	idd CDATA #IMPLIED
	erid CDATA #IMPLIED
	seo CDATA #IMPLIED
	zno CDATA #IMPLIED
	SSS CDATA #IMPLIED
	sss CDATA #IMPLIED
	EEEE CDATA #IMPLIED
	ano CDATA #IMPLIED
>

<!ELEMENT table (tr+)>
<!ATTLIST table
	border CDATA #IMPLIED
	BorderFill CDATA #IMPLIED
	ColCount CDATA #IMPLIED
	PageBreak CDATA #IMPLIED
	RepeatHeader CDATA #IMPLIED
	border CDATA #IMPLIED
	stye CDATA #FIXED "border-collapse:collapse; empty-tds:show; "
	tdSpacing CDATA #FIXED "0"
	tdspacing CDATA #FIXED "0"
	trCount CDATA #FIXED "4"
	width CDATA #FIXED "600px"
	RowCount CDATA #IMPLIED
>

<!ELEMENT th (#PCDATA | w)*>

<!ELEMENT tr (th|td)*>
<!ATTLIST tr
	colspan CDATA #IMPLIED
	rowspan CDATA #IMPLIED
	width CDATA #IMPLIED
	height CDATA #IMPLIED
	ColSpan CDATA #IMPLIED
	RowSpan CDATA #IMPLIED
>
<!ELEMENT td (#PCDATA | PICTURE | br | hj | 각주 | div| w | h | 음가 | 현토 | %문맥요소; |신출자)*>
<!ATTLIST td
	colspan CDATA #IMPLIED
	rowspan CDATA #IMPLIED
	width CDATA #IMPLIED
	style CDATA #IMPLIED
	ColSpan CDATA #IMPLIED
	RowSpan CDATA #IMPLIED
	BorderFill CDATA #IMPLIED
>

<!ELEMENT hj (#PCDATA)>
<!ATTLIST hj
	id CDATA #REQUIRED
	state CDATA #FIXED ""
	type CDATA #REQUIRED
>

<!ELEMENT w (#PCDATA | 인명 | 지명 | 연호 | 서명 | 관직 | 기관 | 각주 | 신출자)*>
<!ATTLIST w
	sound CDATA #IMPLIED
	no CDATA #IMPLIED
	key CDATA #IMPLIED
	type CDATA #IMPLIED
	대표식별 CDATA #IMPLIED
	속성분류 CDATA #IMPLIED
	어휘식별 CDATA #IMPLIED
	id CDATA #IMPLIED
>

<!ELEMENT h (#PCDATA|w | u | 각주 | 신출자)*>
<!ATTLIST h 
	sound CDATA #IMPLIED
	no CDATA #IMPLIED
	key CDATA #IMPLIED
	type CDATA #IMPLIED
	대표식별 CDATA #IMPLIED
	속성분류 CDATA #IMPLIED
	어휘식별 CDATA #IMPLIED
>

<!-- 수식 표현 -->

<!ELEMENT math (#PCDATA | mn | mfrac | msub)*>
<!ATTLIST math
	xmlns CDATA #IMPLIED
>

<!ELEMENT mfrac (#PCDATA | mn | mfrac)*>

<!ELEMENT msub (#PCDATA | mn | mi)*>

<!ELEMENT mn (#PCDATA | mn | mfrac)*>

<!ELEMENT mi (#PCDATA | mn | mi)*>

<!ELEMENT div (#PCDATA)>
<!ATTLIST div
	style CDATA #IMPLIED
>
<!ELEMENT br EMPTY>
<!ELEMENT u (#PCDATA)>
<!ELEMENT b (#PCDATA | h | w | 각주)*>

<!ELEMENT PICTURE EMPTY>
<!ATTLIST PICTURE
	Reverse CDATA #FIXED "false"
		id CDATA #IMPLIED
>
<!ELEMENT EFFECTS EMPTY>
<!ELEMENT BaseID (#PCDATA)>

<!ELEMENT 확인 (#PCDATA)>
<!ATTLIST 확인
	chi CDATA #IMPLIED
	kor CDATA #IMPLIED
	key CDATA #IMPLIED
	비고 CDATA #IMPLIED
	type CDATA #IMPLIED
	no CDATA #IMPLIED
	속성분류 CDATA #IMPLIED
	어휘식별 CDATA #IMPLIED
>

